<template name="confirmation">


  {{#with ParkingSpaceInfo}}
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                {{#if canBuySpace}}
                <div class="modal-header">
                    <h4 class="modal-title">Purchase Confirmation</h4>
                </div>

                <div class="modal-body">
                  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
                  <div class="col-md-6">
                  <article class="parkingSpace">
                    <div class="w3-container" style="padding-bottom:10px">
                  <div class="w3-card-4">
                    <header class="w3-container w3-blue">
                      <h1>Lot {{lotNum}}</h1>
                    </header>

                    <div class="w3-container">
                      <p>${{price}}</p>
                    </div>

                    <footer class="w3-container w3-blue">
                      <h5>{{leavingTime}}</h5>
                      <br>
                      {{usersName}}
                    </footer>
                  </div>
                </div>
                  </article>
                </div>                </div>
                  

                <div class="modal-footer">
                    <input type="image" width="150px" src="paypalButton.png" name="pay" id="pay" class="pay"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                {{else}}
                  <div class="modal-body">
                    <h4>You cannot buy a spot while you have an active listing or purchase</h4>
                  </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                {{/if}}

            </div>
        </div>
    </div>
    {{/with}}
    

</template>
