<template name="exampleModal">
  {{#with ParkingSpaceInfo}}
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Purchase Confirmation</h4>
                </div>

                <div class="modal-body">
                    {{desc}}
                </div>

                <div class="modal-footer">
                    <input type="image" width="150px" src="paypalButton.png" name="pay" id="pay" class="submit" />
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
    {{/with}}
</template>
