<template name= "navbar">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
   <div class="navbar-header">
     <a class="navbar-brand" href="/">UMBC ParkingPal</a>
   </div>
   <ul class="nav navbar-nav">
      <li><a href="/Search">Search Listings</a></li>
      <li><a href="/Post">Post a Listing</a></li>
      <li><a href="/Account">View my account</a></li>
      <li><a href="#">Help</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>{{> loginButtons}}</li>
    </ul>
  </div>
</nav>

</template>
