<template name="saleFinal">
  {{#with ParkingSpaceInfo}}
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Here's your parking space info</h4>
                </div>

                <div class="modal-body">
                  <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
                  <div class="col-md-6">
                  <article class="parkingSpace">
                    <div class="w3-container" style="padding-bottom:10px">
                  <div class="w3-card-4">
                    <header class="w3-container w3-blue">
                      <h1>Lot {{lotNum}}</h1>
                    </header>

                    <div class="w3-container">
                      <p>${{price}}</p>
                    </div>

                    <footer class="w3-container w3-blue">
                      <h5>{{leavingTime}}</h5>
                      <br>
                      {{usersName}}
                      <button class="buy btn">Buy</button>
                    </footer>
                  </div>
                </div>
                  </article>
                </div>
              </div>

                <div class="modal-footer">
                  <div class="page-header">
                  	<h3 align=center>Choose a Rating</h3>
                  </div>

                  <div style="height:100px; width:150px">
                    <span class="star-rating">
                    <input type="radio" name="rating" value="1"><i></i>
                    <input type="radio" name="rating" value="2"><i></i>
                    <input type="radio" name="rating" value="3"><i></i>
                    <input type="radio" name="rating" value="4"><i></i>
                    <input type="radio" name="rating" value="5" checked><i></i></span>

                  <br><br>

                    <button type="button" href="/" class="rate btn" data-dismiss="modal">Submit</button>
                </div>

            </div>
        </div>
    </div>
  </div>
    {{/with}}
</template>
