<template name ="MainLayout">
  {{#if currentUser}}
    {{#if didRegister}}
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>

  {{>navbar}}

  <main class="main-layout">
    {{> Template.dynamic template=main}}
  </main>
    {{else}}
      {{> Register}}
    {{/if}}
  {{else}}
  {{#if loggingIn}}
      Logging in...
  {{else}}
    {{> Login}}
  {{/if}}
{{/if}}
</template>
